<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password"></property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/risk_manager_update?zeroDateTimeBehavior=convertToNull</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="procurement.entity.risk.CiMigrations"/>
  <mapping class="procurement.entity.risk.Conflicts"/>
  <mapping class="procurement.entity.risk.Fitness"/>
  <mapping class="procurement.entity.risk.IonGroups"/>
  <mapping class="procurement.entity.risk.IonLoginAttempts"/>
  <mapping class="procurement.entity.risk.IonUsersGroups"/>
  <mapping class="procurement.entity.risk.Methods"/>
  <mapping class="procurement.entity.risk.Projects"/>
  <mapping class="procurement.entity.risk.Risks"/>
  <mapping class="procurement.entity.risk.RiskTypes"/>
  <mapping class="procurement.entity.risk.Users"/>
 </session-factory>
</hibernate-configuration>
